* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}
main{
  height: 100vh;
  width: 100vw;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  .parent {
  height: 50vh;
  width: 100vw;
  background-color: aqua;
  padding: 1rem;
  display: flex;
  gap: 1rem;

  overflow-x: auto;   // allow scrolling
  overflow-y: hidden; // no vertical scroll

  // 🔥 hide scrollbar (cross-browser)
  scrollbar-width: none;        // Firefox
  -ms-overflow-style: none;     // IE / Edge

  &::-webkit-scrollbar{
    display: none;
  }

  .box {
    height: 100%;
    width: 20%;
    background: black;
    border: 1px solid white;
    flex-shrink: 0;
    
  }
  .box:hover{
    animation: animaitonBOx 0.5s 1 alternate;
  }
}

}
@keyframes animaitonBOx {
  0%{
    transform: scale(1);
    background-color: pink;
    border: 2px dotted rgb(34, 32, 32);
  }
  50%{
    transform: scale(1.2);
    background-color: purple;
    border: 2px solid white;
  }
}